<h5 class="light">Метка для вывода опросов: <strong>&#123;&#123; pl_votes &#125;&#125;</strong></h5>

<div class="list">
    <div class="modal-trigger waves-effect waves-light btn" href="#addVote"><div class="add"></div>Добавить опрос</div>

<table class="striped centered votes">
    <thead>
        <tr>
            <th width="25%">Вопрос</th>
            <th>Варианты</th>
            <th width="15%">Проголосовавших</th>
            <th width="20px">Действие</th>
        </tr>
    </thead>
    <tbody>
        {% if pl.votes %}
        {% for vote in pl.votes %}
            <tr>
                <td>{{ vote.question }}</td>
                <td>
                {% for qw in vote.variables %}
                    <span style="color:#{{ qw.color }}">{{ qw.name }}</span>&nbsp;({{ qw.cnt }})
                    <br/>
                {% endfor %}
                </td>
                <td>{{ vote.voted }}</td>
                <td>
                    <a class="modal-trigger" href="#{{ vote.action.editform.key }}_edit"><i class="material-icons">edit</i></a>
                    <a class="delete" onclick="return _confirm();" href="plugins.php?ac=edit&id={{ vote.action.editform.key }}&dir={{ vote.action.editform.dir }}&plac=delete" title="Delete"><i class="material-icons">delete</i></a>
                    <!-- Modal Structure -->
                    <div id="{{ vote.action.editform.key }}_edit" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <form id="{{ vote.action.editform.key }}_form" action="plugins.php?ac=edit&plac=edit&dir={{ vote.action.editform.dir }}&id={{ vote.action.editform.key }}" method="POST">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="{{ vote.question }}" id="{{ vote.action.editform.key }}_question" name="title" type="text" class="validate">
                                        <label class="active" for="{{ vote.action.editform.key }}_question">Вопрос голосования</label>
                                    </div>
                                </div>
                                                
                                <div class="row atm-votes-fields" id="{{ vote.action.editform.key }}_atm-votes-fields" data-count="{{ count(vote.variables) }}">
                                    {% for qw in vote.variables %}
                                        <div class="row">
                                            <div class="input-field col s11">
                                                <input id="{{ vote.action.editform.key }}_{{ qw.id }}" name="variant[]" value="{{ qw.name }}" type="text" class="validate">
                                                <label class="active" for="{{ vote.action.editform.key }}_{{ qw.id }}">Вариант {{ qw.id }}</label>
                                            </div>
                                            <div class="col s1">
                                                <a href="#!" class="DelParObj" title="Удалить вариант №{{ qw.id }}"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Отмена</a>
                            <a href="#!" onClick="document.forms['{{ vote.action.editform.key }}_form'].submit()" class="modal-action waves-effect btn">Сохранить</a>
                            <a href="#!" onClick="addField('{{ vote.action.editform.key }}')" class="modal-action waves-effect btn deep-orange">Добавить</a>
                        </div>

                    </div>
                
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr><td align="center" colspan="5"><h2 style="color:#44B30F;">В этом плагине настраивать нечего!</h2></td></tr>
        {% endif %}
      </tbody>
    </table>
</div>


<!--        Adding Vote           -->
<script>
function addField(vote_id) {
    var cont = $('#'+vote_id+'_atm-votes-fields').find('input');
    var block = $('#'+vote_id+'_atm-votes-fields');
    
    var field_id = parseInt($('#'+vote_id+'_atm-votes-fields').attr('data-count'))+1;
    $('#'+vote_id+'_atm-votes-fields').attr('data-count', field_id);
    
    // Формируем DOM нового пункта
    var el = $("<div/>", {"class": "row"}).appendTo(block);
    
    var el_l = $("<div/>", {"class": "input-field col s11"}).appendTo(el);
    var el_r = $("<div/>", {"class": "col s1"}).appendTo(el);
    
    $("<input/>", {"id": vote_id+"_"+field_id , "type": "text", "name": "variant[]", "value":""}).appendTo(el_l);
    $("<label/>", {"for": vote_id+"_"+field_id , text: "Вариант "+field_id}).appendTo(el_l);

    
    var el_del = $("<a/>", {
        "class": "DelParObj",
        "title": "Удалить вариант №" + (cont.length + 1),
        click: function(){
            removeVariant($(this));
        }
    }).appendTo(el_r);
    
    $("<i/>", {"class": "material-icons", text: "delete"}).appendTo(el_del);

}
function removeVariant(element) {
    element.parent().parent().remove();
}
$('.DelParObj').on('click', function(){
    removeVariant($(this));
});
</script>

<div id="addVote" class="modal modal-fixed-footer votes">
    <div class="modal-content">
        <form id="{{ pl.uniqid }}_form" action="plugins.php?ac=edit&plac=add&dir={{ pl.dir }}" method="POST">
    
            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="{{ pl.uniqid }}_question" name="title" type="text" class="validate">
                    <label for="{{ pl.uniqid }}_question">Вопрос голосования</label>
                </div>
            </div>

            <div class="row atm-votes-fields" id="{{ pl.uniqid }}_atm-votes-fields" data-count="1">
                    <div class="row">
                        <div class="input-field col s11">
                            <input id="{{ pl.uniqid }}_1" name="variant[]" value="" type="text" class="validate">
                            <label for="{{ pl.uniqid }}_1">Вариант 1</label>
                        </div>
                        <div class="col s1">
                            <a href="#!" class="DelParObj" title="Удалить вариант №1"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Отмена</a>
        <a href="#!" onClick="document.forms['{{ pl.uniqid }}_form'].submit()" class="modal-action waves-effect btn">Сохранить</a>
        <a href="#!" onClick="addField('{{ pl.uniqid }}')" class="modal-action waves-effect btn deep-orange">Добавить</a>
    </div>
</div>


<style>
.DelParObj i {
    margin-top: 20px;
}

.atm-votes-fields .row {
    margin-bottom: 0;
}

.votes .modal-footer a {
    margin: 6px !important;
}
</style>
